html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
  background-color: #fff;
  color: #2f2d13;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: block;
  background-color: #5ec7ff;
  border-bottom: 5px solid #ffffdf;
  padding: 1.5rem 0;
}

h1 {
  font-family: Solway, serif;
  font-size: 4rem;
  color: #ffffdf;
  text-align: center;
  margin: auto;
}

.nav li {
  display: inline-block;
}

.nav li a {
  color: #000;
  font-size: 1.125rem;
  list-style-type: none;
  display: inline-block;
  padding: .2em .5em .3em;
  background-color: #ffffdf;
  border-radius: 4px;
  margin-bottom: .3em;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #5190b2;
}

.nav .current {
  background-color: #eaeacd;
}

footer {
  text-align: center;
  display: block;
  background-color: #5ec7ff;
  padding: .75em;
}

footer small {
  font-size: .75em;
}

h2 {
  font-size: 1.875rem;
  font-family: Solway, serif;
  color: #0075b6;
  display: block;
  text-align: center;
}

.img-flex {
  display: block;
  width: 100px;
  margin: 0 auto 1.5rem;
}

.cards img {
  width: 50%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  justify-content: space-between;
}

.one {
  background-color: #d2efff;
}

.two {
  background-color: #b7e5ff;
}

.three {
  background-color: #9adbff;
}

.nav {
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  display: block;
  padding: .75rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5rem 0;
  background-color: #5ec7ff;
  border-top: 5px solid #ffffdf;
  color: #000;
}

.footer h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #ffffdf;
}

.footer ul {
  list-style-type: none;
  text-align: left;
}

.footer a {
  color: #003442;
}

.links {
  padding: 0 1rem;
}

.social {
  margin-left: auto;
  margin-right: 30px;
  padding: 0 1rem;
  display: flex;
}

.social > li {
  padding: 0 1rem;
  width: 3em;
}

.copyright {
  padding: 0 1rem;
  width: 100%;
}

img {
  display: block;
  width: 250%;
}

.img-position {
  position: relative;
}

.absolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
