html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

body {
  background-color: #fff;
  color: #2f2d13;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: block;
  background-color: #5ec7ff;
}

h1 {
  font-family: "Solway", serif;
  font-size: 3rem;
  color: #ffffdf;
  text-align: center;
  margin: auto;
}

.nav li {
  display: inline-block;
}

.nav li a {
  color: #000;
  font-size: 1.125rem;
  list-style-type: none;
  display: inline-block;
  padding: .2em .5em .3em;
  background-color: #ffffdf;
  border-radius: 4px;
  margin-bottom: .3em;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #5190b2;
}

.nav .current {
  background-color: #eaeacd;
}

footer {
  text-align: center;
  display: block;
  background-color: #5ec7ff;
  padding: .75em;
}

footer small {
  font-size: .75em;
}

h2 {
  font-size: 1.875rem;
  font-family: "Solway", serif;
  color: #5ec7ff;
  display: block;
  text-align: center;
}

img {
  display: block;
  width: 50%;
  margin: 0 auto 1.5rem;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  justify-content: space-between;
}

.one {
  background-color: #D2EFFF;
}

.two {
  background-color: #B7E5FF;
}

.three {
  background-color: #9ADBFF;
}

.nav {
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  display: block;
  padding: .75rem;
}
